:root {
    --teal: #1abc9c;
    --teal-darker: #16a085;
    --green: #2ecc71;
    --green-darker: #27ae60;
    --blue: #3498db;
    --blue-darker: #2980b9;
    --purple: #9b59b6;
    --purple-darker: #8e44ad;
    --yellow: #f1c40f;
    --yellow-darker: #f39c12;
    --orange: #e67e22;
    --orange-darker: #d35400;
    --red: #e74c3c;
    --red-darker: #c0392b;
    --gray: #95a5a6;
    --gray-darker: #7f8c8d;

    --light: #ecf0f1;
    --light-darker: #bdc3c7;

    --dark: #34495e;
    --dark-darker: #2c3e50;

    --primary: var(--teal);
    --primary-hover: var(--teal-darker);
    --secondary: var(--gray);
    --secondary-hover: var(--gray-darker);
    --success: var(--green);
    --success-hover: var(--green-darker);
    --warning: var(--yellow);
    --warning-hover: var(--yellow-darker);
    --danger: var(--red);
    --danger-hover: var(--red-darker);
    --info: var(--blue);
    --info-hover: var(--blue-darker);

    --border-radius: 13px;
}

html {
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--teal-darker);
    color: var(--light);
}

body * {
    font-family: 'Quicksand', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.5rem 0;
    font-weight: 600;
    line-height: 1.2;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
    margin: 0.4rem 0;
}

small {
    font-size: 0.7rem;
}

span,
i,
div,
input,
button,
table,
th,
td {
    font-size: 1.2rem;
}

/* !CONTAINER */

.container {
    width: 900px;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    width: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    .container {
        width: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .container-fluid {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media only screen and (min-width: 600px) {
    .container {
        width: auto;
    }

    .container-fluid {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        width: 750px;
    }

    .container-fluid {
        padding-left: 1.5rem;
        padding-right: 1rem;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        width: 970px;
    }

    .container-fluid {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }

    .container-fluid {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/* !CARDS */

.card {
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--light);
    color: var(--dark);
    border: none;
    border-radius: var(--border-radius);
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.card > .card-header {
    padding: 0.8rem 1.4rem;
    margin-bottom: 0;
    background-color: var(--light-darker);
    border: none;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.card > .card-content {
    padding: 0.8rem 1.4rem;
    margin: 0;
}

/* !BUTTONS */

.btn {
    padding: 0.4rem 1.2rem;
    background-color: var(--secondary);
    color: var(--light);
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: 500;
    min-width: 3rem;
    transition: All 0.1s linear;
}

.btn-lg {
    padding: 0.5rem 1.3rem;
    font-size: 1.3rem;
}

.btn.block {
    width: 100%;
}

.btn.disabled, .btn:disabled {
    background-color: var(--light-darker) !important;
    color: var(--light) !important;
    cursor: not-allowed !important;
}

.btn.disabled:hover, .btn:disabled:hover {
    background-color: var(--light-darker) !important;
}

.btn:hover {
    background-color: var(--gray-darker)
}

.btn.btn-primary {
    background-color: var(--primary);
    color: var(--light);
}

.btn.btn-primary:hover {
    background-color: var(--primary-hover);
}

.btn.btn-success {
    background-color: var(--success);
    color: var(--light);
}

.btn.btn-success:hover {
    background-color: var(--success-hover);
}

.btn.btn-warning {
    background-color: var(--warning);
    color: var(--light);
}

.btn.btn-warning:hover {
    background-color: var(--warning-hover);
}

.btn.btn-danger {
    background-color: var(--danger);
    color: var(--light);
}

.btn.btn-danger:hover {
    background-color: var(--danger-hover);
}

.btn.btn-info {
    background-color: var(--info);
    color: var(--light);
}

.btn.btn-info:hover {
    background-color: var(--info-hover);
}

.btn.btn-dark {
    background-color: var(--dark);
    color: var(--light);
}

.btn.btn-dark:hover {
    background-color: var(--dark-darker);
}

/* !INPUTS */

.input[type=text], .input[type=password] {
    border: 2px solid var(--light-darker);
    background-color: var(--light);
    padding: 0.5rem 0.8rem;
    border-radius: var(--border-radius);
    min-width: 3rem;
    font-weight: 500;
    font-size: 1rem;
    transition: All 0.1s linear;
}

.input[type=text]:hover, .input[type=text]:focus, 
.input[type=password]:hover, .input[type=password]:focus {
    border-color: var(--primary);
}

.input[type=text].error, .input[type=password].error {
    border-color: var(--danger) !important;
    color: var(--danger) !important;
}

.input[type=text].success, .input[type=password].success {
    border-color: var(--success) !important;
    color: var(--success) !important;
}

.input[type=text].disabled, .input[type=text]:disabled, 
.input[type=password].disabled, .input[type=password]:disabled  {
    background-color: var(--light-darker) !important;
    border-color: var(--light-darker) !important;
    color: var(--gray-darker) !important;
    cursor: not-allowed;
}

/* !DISPLAY CLASSES */

.display-grid {
    display: grid;
}

.grid-col-2 {
    grid-template-columns: auto auto;
}

.grid-col-3 {
    grid-template-columns: auto auto auto;
}

.grid-col-4 {
    grid-template-columns: auto auto auto auto;
}

.grid-col-5 {
    grid-template-columns: auto auto auto auto auto;
}

.grid-col-6 {
    grid-template-columns: auto auto auto auto auto auto;
}

.grid-g-1 {
    gap: 0.5rem !important;
}

.grid-g-2 {
    gap: 1rem !important;
}

.grid-g-3 {
    gap: 1.5rem !important;
}

.grid-g-4 {
    gap: 2rem !important;
}

.grid-gc-1 {
    column-gap: 0.5rem !important;
}

.grid-gc-2 {
    column-gap: 1rem !important;
}

.grid-gc-3 {
    column-gap: 1.5rem !important;
}

.grid-gc-4 {
    column-gap: 2rem !important;
}

.grid-gr-1 {
    row-gap: 0.5rem !important;
}

.grid-gr-2 {
    row-gap: 1rem !important;
}

.grid-gr-3 {
    row-gap: 1.5rem !important;
}

.grid-gr-4 {
    row-gap: 2rem !important;
}

.display-flex {
    display: flex;
}

/* !JUSTIFY CLASSES */

.justify-content-start {
    justify-content: start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

/* !ALIGN CLASSES */

.align-items-start {
    align-items: start;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: end;
}

.align-content-start {
    align-content: start;
}

.align-content-center {
    align-content: center;
}

.align-content-end {
    align-content: end;
}

.align-content-space-evenly {
    align-content: space-evenly;
}

.align-content-space-around {
    align-content: space-around;
}

.align-content-space-between {
    align-content: space-between;
}

/* !PADDING CLASSES */

.p-0 {
    padding: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.p-1 {
    padding: 0.5rem !important;
}

.pl-1 {
    padding-left: 0.5rem !important;
}

.pr-1 {
    padding-right: 0.5rem !important;
}

.pt-1 {
    padding-top: 0.5rem !important;
}

.pb-1 {
    padding-bottom: 0.5rem !important;
}

.px-1 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.py-1 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.p-2 {
    padding: 1rem !important;
}

.pl-2 {
    padding-left: 1rem !important;
}

.pr-2 {
    padding-right: 1rem !important;
}

.pt-2 {
    padding-top: 1rem !important;
}

.pb-2 {
    padding-bottom: 1rem !important;
}

.px-2 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.py-2 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.p-3 {
    padding: 1.5rem !important;
}

.pl-3 {
    padding-left: 1.5rem !important;
}

.pr-3 {
    padding-right: 1.5rem !important;
}

.pt-3 {
    padding-top: 1.5rem !important;
}

.pb-3 {
    padding-bottom: 1.5rem !important;
}

.px-3 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.py-3 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.p-4 {
    padding: 2rem !important;
}

.pl-4 {
    padding-left: 2rem !important;
}

.pr-4 {
    padding-right: 2rem !important;
}

.pt-4 {
    padding-top: 2rem !important;
}

.pb-4 {
    padding-bottom: 2rem !important;
}

.px-4 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.py-4 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

/* !MARGIN CLASSES */

.m-0 {
    margin: 0 !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.m-1 {
    margin: 0.5rem !important;
}

.ml-1 {
    margin-left: 0.5rem !important;
}

.mr-1 {
    margin-right: 0.5rem !important;
}

.mt-1 {
    margin-top: 0.5rem !important;
}

.mb-1 {
    margin-bottom: 0.5rem !important;
}

.mx-1 {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
}

.my-1 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.m-2 {
    margin: 1rem !important;
}

.ml-2 {
    margin-left: 1rem !important;
}

.mr-2 {
    margin-right: 1rem !important;
}

.mt-2 {
    margin-top: 1rem !important;
}

.mb-2 {
    margin-bottom: 1rem !important;
}

.mx-2 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.my-2 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.m-3 {
    margin: 1.5rem !important;
}

.ml-3 {
    margin-left: 1.5rem !important;
}

.mr-3 {
    margin-right: 1.5rem !important;
}

.mt-3 {
    margin-top: 1.5rem !important;
}

.mb-3 {
    margin-bottom: 1.5rem !important;
}

.mx-3 {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
}

.my-3 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.m-4 {
    margin: 2rem !important;
}

.ml-4 {
    margin-left: 2rem !important;
}

.mr-4 {
    margin-right: 2rem !important;
}

.mt-4 {
    margin-top: 2rem !important;
}

.mb-4 {
    margin-bottom: 2rem !important;
}

.mx-4 {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
}

.my-4 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

/* !TEXT ALIGNMENTS */

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

/* !TEXT DECORATION */

.text-italic {
    font-style: italic !important;
}

.text-bold {
    font-weight: 600 !important;
}

.text-underline {
    text-decoration: underline !important;
}

.text-uppercase {
    text-decoration: uppercase !important;
}

.text-capitalize {
    text-decoration: capitalize !important;
}

/* !BACKGROUND COLOR */

.bg-light {
    background-color: var(--light) !important;
}

.bg-primary {
    background-color: var(--primary-hover) !important;
}

.bg-success {
    background-color: var(--success-hover) !important;
}

.bg-warning {
    background-color: var(--warning-hover) !important;
}

.bg-danger {
    background-color: var(--danger-hover) !important;
}

.bg-info {
    background-color: var(--info-hover) !important;
}

.bg-teal {
    background-color: var(--teal) !important;
}

.bg-green {
    background-color: var(--green) !important;
}

.bg-blue {
    background-color: var(--blue) !important;
}

.bg-purple {
    background-color: var(--purple) !important;
}

.bg-yellow {
    background-color: var(--yellow) !important;
}

.bg-orange {
    background-color: var(--orange) !important;
}

.bg-red {
    background-color: var(--red) !important;
}

.bg-gray {
    background-color: var(--gray) !important;
}

.bg-dark {
    background-color: var(--dark) !important;
}

/* !TEXT COLOR */

.text-light {
    color: var(--light) !important;
}

.text-dark {
    color: var(--dark) !important;
}

.text-primary {
    color: var(--primary) !important;
}

.text-success {
    color: var(--success) !important;
}

.text-danger {
    color: var(--danger) !important;
}

.text-warning {
    color: var(--warning) !important;
}

.text-info {
    color: var(--info) !important;
}

.text-red {
    color: var(--red) !important;
}

.text-yellow {
    color: var(--yellow) !important;
}

.text-orange {
    color: var(--orange) !important;
}

.text-green {
    color: var(--green) !important;
}

.text-teal {
    color: var(--teal) !important;
}

.text-blue {
    color: var(--blue) !important;
}

/* !SHADOWS */

.shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

/* !WIDTH */

.block {
    width: 100%;
}

.w-100 {
    width: 100%;
}

.w-100v {
    width: 100vw;
}

.w-auto {
    width: auto;
}

.h-100 {
    height: 100%;
}

.h-auto {
    height: auto;
}

.h-100v {
    height: 100vh;
}

/* !BORDERS */

.border-0 {
    border: none !important;
}

.border-color-light {
    border-color: var(--light) !important;
}

.border-color-dark {
    border-color: var(--dark) !important;
}

.border-color-primary {
    border-color: var(--primary) !important;
}

.border-color-success {
    border-color: var(--success) !important;
}

.border-color-danger {
    border-color: var(--danger) !important;
}

.border-color-warning {
    border-color: var(--warning) !important;
}

.border-color-info {
    border-color: var(--info) !important;
}

.border-color-red {
    border-color: var(--red) !important;
}

.border-color-yellow {
    border-color: var(--yellow) !important;
}

.border-color-orange {
    border-color: var(--orange) !important;
}

.border-color-green {
    border-color: var(--green) !important;
}

.border-color-teal {
    border-color: var(--teal) !important;
}

.border-color-blue {
    border-color: var(--blue) !important;
}


/* !spinner */

.spinner {
    position: relative;
    display: block;
    border: 5px solid var(--light);
    border-top: 5px solid var(--dark);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.fast-spin {
    -webkit-animation: fa-spin 0.5s infinite linear;
    animation: fa-spin 0.5s infinite linear;
}

/* !POPUP */

.popup-wrapper {
    width: 380px;
    top: 0;
    right: 0;
    position: absolute;
    padding: 0 1rem;
}

.popup {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content : start;
    width: 380px;
    background-color: var(--primary);
    border-radius: var(--border-radius);
    margin: 1rem 0;
}

.popup > .popup-icon {
    width: 25px;
    padding: 0.8rem 1.2rem;
    text-align: center;
    border-radius: var(--border-radius);
}

.popup > .popup-text {
    width: auto;
    height: auto;
    padding: 0.8rem 0.8rem 0.8rem 0; 
    font-weight: bold;
}