/*side navbar*/
.side-navbar{
    width: 15rem !important;
    background-color: var(--dark);
    color: var(--light);
    border-radius: var(--border-radius) 0 0 var(--border-radius)
}

.side-navbar-tab{
    padding: 0.4rem 1.2rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.side-navbar-tab:hover{
    background-color: var(--blue-darker)
}

.side-navbar-tab-active{
    background-color: var(--light);
    color: var(--dark);
    padding: 0.4rem 1.2rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    font-weight: 500;
}
/*panel*/
.ket-panel{
    background-color: var(--yellow);
    color: var(--dark-darker);
    width: 12rem;
    border-radius: var(--border-radius);
    margin: auto;
}

.ket-panel-data{
    background-color: var(--yellow);
    color: var(--dark-darker);
    width: 6rem;
    border-radius: var(--border-radius);
    margin: auto;
    font-size: 1rem;
}

.panel-data{
    height: 5rem;
}

/*table data*/

.tableManager {
    border-collapse: collapse;
}

.tableManager th {
    border: 1px solid var(--teal);
}

.tableManager td {
    border: 1px solid var(--dark);
}

.tableArea{
    margin: 0 auto;
}

.tableHeader{
    color: var(--white);
}
.tableHeader th{
    background-color: var(--teal);
    color: var(--white);
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

.tableData{
    color: var(--dark-darker) ;
    background-color: var(--white) ;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

.tableData td{
    background-color: var(--white) ;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem ;
    font-size: 1rem ;
}

.btn-manager{
    background-color: var(--teal);
    color: white;
    width: 10rem;
    height: 2rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-manager:hover, .btn-manager:focus{
    background-color: var(--teal-darker);
    color: white;
}

.content-manager{
    background-color: var(--teal); 
}

.content-manager a{

    color: white !important;   
}

.content-manager a:hover{
    background-color: var(--teal-darker); 
}