/* 
    ! THIS FILE ONLY FOR IMPORT OTHER CSS FILES
    ? Other CSS files bellow the base import.
*/

@import url('./base.css');

@import url('./login.css');
@import url('./template-header.css');

@import url('./kasir.css');